/* .modal-postagem {
  background: linear-gradient(
    24deg,
    rgba(10, 7, 73, 1) 0%,
    rgba(46, 32, 129, 1) 100%
  );
} */

.cursor {
  cursor: pointer;
}

.btnModal {
  background-color: rgba(46, 32, 129, 1) !important;
  border-radius: 5px !important;
  color: white !important;
  margin-top: 20px !important;
  margin-right: 20px !important;
}

.btnModal:hover {
  background-color: rgb(61, 44, 154) !important;
  color: #ffffff !important;
}

.makeStyles-paper-21 {
  background-color: rgba(46, 32, 129, 1) !important;
  border-radius: 10px;
}

.titulo-cadastro-post {
  color: white !important;
  font-size: 2rem !important;
}